.add-character-form {
  padding-top: 3rem;
  label {
    font-weight: 600;
    .required {
      color: #007bff;
      margin-left: .25rem;
    }
  }
  .radios {
    height: 2.375rem;
    display: flex;
    align-items: center;
    label {
      margin-bottom: 0;
      margin-left: .75rem;
      border-bottom: 1px solid transparent;
      &.is-invalid {
        border-bottom: 1px solid #dc3545;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .help-block {
    min-height: 1.625rem;
  }
  .error-message {
    color: #dc3545;
    font-size: .875rem;
  }
  .success-message {
    color: #25a115;
  }
}
